*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: solid #fff 3px;
}

nav .logo{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 35px;
}

nav a{
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 25px;
}

nav h1{
    display: inline-block;
    padding-left: 335px;
    padding-top: 12px;
    width: 15px;
}

nav input{
    padding: 8px;
    font-size: 25px;
}

nav a:hover{
    transition: 0.5s;
    background-color: red;
    color: #fff;
    padding: 0.2em;
    border-bottom: solid #fff 3px;
    border-top: solid #fff 3px;
    border-left: solid #fff 3px;
    border-right: solid #fff 3px;
}

form input, form button{
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.2em;
}

form button{
    cursor: pointer;
    background: #000;
    width: 0.1vh;
    height: 0.1vh;
    margin: 1%;
}


/*Grid de produtos*/
.container{
    background-color: black;
    min-height: 60vh;
    padding: 50px;
}

.Products-container{
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    width: 31%;
    height: 21vh;
    display: inline-block;
    margin: 1% 1%;
    padding: 50px;   
}

.product-image {
    color: #fff;
    height: 40vh;
    width: 100%;
    margin-bottom: 10px;
}

.skate{
    width: 1200px;
    height: 21vh;
    display: inline-block;    
    padding: 1px;
    border-top: 350px;
}

.product-skate {
    color: #fff;
    width: 50%;
    margin-bottom: 10px;
}


h3 {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding-left: 7px;
    font-size: 24px;
    }

    .card p{
        margin-bottom: 10px;

    }

    .bold{
        font-weight: bold;
    }

    .btn{
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background-color: red;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        transition: .5s;
    } 
 
.btn:hover{
    background-color: #000;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;

}

.frase{
    text-align: center;
    height: 21vh;
    display: inline-block;
    padding: 75px;
    
}

mark{
    font-size: 45px;
    color: #fff;
    background-color: #000;
    font-style: oblique;
    

}
 
.picos{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 50px;
}





/*FOOTER*/
footer{
    background-color: black;
    color: #fff;
    border-top: 3px solid #fff;
    text-align: center;
    padding: 35px;
}

@media screen and (max-width: 768px){
    section, .card {
        width: 100%;
        max-width: 980px;
        margin:auto; 
    } 
}
@media screen and (max-width: 768px){
    section, .card {
        width: 100%;
        max-width: 600px;
        margin:auto;  
    }
}

@media screen and (max-width: 768px){
    section, .skate {
        width: 100%;
        max-width: 980px;
        margin:auto; 
    } 
}
@media screen and (max-width: 768px){
    section, .skate {
        width: 100%;
        max-width: 600px;
        margin:auto;  
    }
}

@media screen and (max-width: 768px){
    section, h1 {
        width: 100%;
        max-width: 600px;
        
    }
}

@media screen and (max-width: 768px){
    section, .nav{
        width: 100%;
        max-width: 600px;
        
    }
}