*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: solid #fff 3px;
}

nav .logo{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 35px;
}

nav a{
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 25px;
}

nav h1{
    display: inline-block;
    padding-left: 330px;
    padding-top: 12px;
    width: 15px;
}

nav input{
    padding: 8px;
    font-size: 25px;
}

nav a:hover{
    transition: 0.5s;
    background-color: red;
    color: #fff;
    padding: 0.2em;
    border-radius: 10%;
    border-bottom: solid #fff 3px;
    border-top: solid #fff 3px;
    border-left: solid #fff 3px;
    border-right: solid #fff 3px;
}
.container{
    background-color: black;
    padding: 50px;
    padding-bottom: 30px;
}

.Products-container{
    max-width: 75%;
    margin: auto;
}


.product-image {
    color: #fff;
    height: 70vh;
    width: 100%;
    margin-bottom: 10px;
}

.skate{
    width: 100%;
    height: 21vh;
    display: inline-block;    
    padding: 1px;
    border-top: 350px;
    border-bottom: 15px;
    color: #fff;
}

.vdo{
    text-align: center;
    border-bottom: solid #fff 3px;
    border-top: solid #fff 3px;
    padding-top: 35px ;
    padding-bottom: 35px ;
}

    .card p{
        margin-bottom: 10px;

    }

    .bold{
        font-weight: bold;
    }

    .btn{
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background-color: red;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        transition: .5s;
        border-bottom: solid #fff 1px;
        border-top: solid #fff 1px;
        border-left: solid #fff 1px;
        border-right: solid #fff 1px;
    } 
 
.btn:hover{
    background-color: #000;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;

}

.logoskate{
    text-align: center;
    width: 50%;
    display: inline-block;
}
/*FOOTER*/
footer{
    width: 100%;
    background-color: black;
    color: #fff;
    border-top: solid #fff 3px;
    text-align: center;
    padding: 35px;
}