*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: solid #fff 3px;
}

nav .logo{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 35px;
}

nav a{
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 25px;
}

nav h1{
    display: inline-block;
    padding-left: 335px;
    padding-top: 12px;
    width: 15px;
}

nav input{
    padding: 8px;
    font-size: 25px;
}

nav a:hover{
    transition: 0.5s;
    background-color: red;
    color: #fff;
    padding: 0.2em;
    border-bottom: solid #fff 3px;
    border-top: solid #fff 3px;
    border-left: solid #fff 3px;
    border-right: solid #fff 3px;
}


 
capao{
    background-color: #000;
    font-size: 25px;
    color: #FFF;
}





/*FOOTER*/
footer{
    background-color: black;
    color: #fff;
    border-top: 3px solid #fff;
    text-align: center;
    padding: 35px;
}
